body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: deepskyblue;
}

a:hover {
  color: #f96400;
}
ul li {
  display: inline-block;
  padding: 0px 20px;
}

#selected {
  border-radius: 20px;
  background-color: #f97109;
}

#selected a:hover {
  color: deepskyblue;
  text-decoration: underline;
}
